@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="carouselBlk">
  
</div>
<div id="mainBody">
    @Html.Partial("_SliderPartial")
    <div class="container">
        <div class="row">
            <div class="span12">
                @Html.Partial("_FeatureProduct")
            </div>
            <div class="span12">
                @Html.Partial("_LatestProduct")
            </div>
            

        </div>
    </div>
</div>
@*<script type="text/javascript">

$('#ex1').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
    
</script>*@
